<mat-grid-list cols="3" rowHeight="2000">
    <mat-grid-tile>
        <div>
            <a target="_blank" href="https://cdn.pixabay.com/photo/2018/06/17/20/35/chain-3481377_1280.jpg">
              <img src="https://cdn.pixabay.com/photo/2018/06/17/20/35/chain-3481377_1280.jpg" alt="Northern Lights">
            </a>
            <div class="desc">Add a description of the image here</div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>